html {
    background-color: black;
    color: white;
}

.system {
    float: left;
    position: relative;
    /* width: 200px;
    height: 200px; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
