html {
    background-color: black;
    color: white;
}

.system {
    float: left;
    position: relative;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    border: 1px solid white;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
