html {
    background-color: black;
    color: white;
}

.system {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;

    padding: 10px;

    overflow-x: scroll;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: 10px;
    flex-shrink: 0;
}

.planet-separator {
    width: 1px;
    height: 80px;
    border-left: 1px solid white;
    margin: 0 3px;
}

.hz-indicator {
    height: 80px;
    background-color: rgba(128, 255, 128, 0.2);
    position: absolute;
    top: -40px;
}

.planets-container {
    position: relative;
    height: 1px;
    margin-left: 2px;
}

.planet-terran {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #C6DC66;

    top: -7.5px;
    margin-left: -7.5px;
}

.planet-neptunian {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #7192E0;

    top: -10px;
    margin-left: -10px;
}

.planet-jovian {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: burlywood;

    top: -20px;
    margin-left: -20px;
}
