html {
    background-color: black;
    color: white;
}

.system {
    /* float: left; */
    position: relative;
    /* max-width: 500px;
    max-height: 500px; */

    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;

    padding: 10px;
    border: 1px solid white;

    overflow: hidden;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: 10px;
}
